* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 33, 44);
}

.wrapper {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

.text-input-wrapper h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 2rem 0 1rem 0;
}

.input-button {
    width: 100%;
    justify-content: center;
    display: flex;
}

.input-button button {
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    border: 2px solid white;
    background-color: transparent;
}

.input-button button p {
    font-family: 'Poppins', sans-serif;
    color: white;
    writing-mode: vertical-lr;
}

.input-button input {
    font-size: 1.3rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 0 0;
    outline: 0;
    margin: 0 1rem 0 0;
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid rgb(6, 248, 6);
    width: 100%;
    padding: 1rem;
}

.img-qrcode {
    text-align: center;
    display: flex;
    justify-content: center;
}

.img-qrcode img {
    border-radius: 0.3rem;
    margin: 1rem 0;
}

#errormessage {
    display: none;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 0, 0);
    margin: 0 auto;
    width: 480px;
    border-radius: 5rem;
    padding: 0.5rem 1.2rem;
    background-color: rgba(255, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}

#sucessmessage {
    display: none;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 255, 21);
    margin: 0 auto;
    width: 420px;
    border-radius: 5rem;
    padding: 0.5rem 1.2rem;
    background-color: rgba(0, 255, 21, 0.1);
    font-family: 'Poppins', sans-serif;
}

#errormessage i {
    font-size: 1.3rem;
}

#sucessmessage i {
    font-size: 1.3rem;
}

@media (max-width: 440px) {
    .text-input-wrapper h2 {
        margin: 1rem;
        text-align: center;
        font-size: 1rem;
    }

    .input-button {
        margin: 0 auto;
        width: 90%;
        flex-direction: column;
    }    

    .input-button input {
        margin: 0 0 1rem 0;
        font-size: 1rem;
        width: 100%;
    }
    
    .input-button button p {
        writing-mode:horizontal-tb;
    }

    #errormessage {
        width: 90%;
    }
    
    #sucessmessage {
        width: 90%;
    }
    
    #errormessage i {
        font-size: 1rem;
    }
    
    #sucessmessage i {
        font-size: 1rem;
    }

    #errormessage span {
        font-size: 0.85rem;
    }
    
    #sucessmessage span {
        font-size: 0.85rem;
    }
}